__pycache__/
*.py[cod]
*.env
.env
.env.*
.venv/
venv/
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.dist/
dist/
build/
.DS_Store
*.log
alembic/versions/*.pyc

src/sports_events_backend.egg-info/

